langchain
python-dotenv
langchain_community
ipykernel
bs4
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma
streamlit
groq
langchain_groq
fastapi
langserve
sse_starlette
duckduckgo-search
#mysql
matplotlib
seaborn
plotly
streamlit-option-menu
streamlit_js_eval
validators==0.28.1
youtube-transcript-api
#mysqlclient
#mysql-connector-python